@page
@model FruitCommerceDemo.Web.Pages.Cart.IndexModel
@{
}
<div class="col-lg-12 pl-3 pt-3">
    @if (Model.Cart.Items.Count() > 0)
    {
        <table class="table table-hover border bg-white">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th style="width:10%;">Quantity</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (IShoppingCartItem item in Model.Cart.Items)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-lg-2 Product-img">
                                    <img src="@item.Product.ImageUrl" alt="@item.Product.Name" class="img-responsive" />
                                </div>
                                <div class="col-lg-10">
                                    <h4 class="nomargin">@item.Product.Name</h4>
                                    <p>
                                        @item.Product.Description
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td> @String.Format("{0:C2}", item.Product.Price) </td>
                        <td data-th="Quantity">
                            <form asp-page="/Cart/UpdateProductQuantity" method="post">
                                <input type="hidden" name="productId" value="@item.Product.ProductId" />
                                <input type="number" class="form-control text-center product-quantity" name="quantity" value="@item.Quantity">
                                @Html.AntiForgeryToken()

                            </form>
                        </td>
                        <td>@String.Format("{0:C2}", item.GetSubtotal())</td>
                        <td class="actions" data-th="" style="width:10%;">
                            <form>
                                <button class="btn btn-danger btn-sm" asp-page="/Cart/RemoveProduct" formmethod="post" name="productId" value="@item.Product.ProductId"><i class="fa fa-trash-o"></i></button>
                                @Html.AntiForgeryToken()
                            </form>
                        </td>
                    </tr>
                }
                @if (Model.Cart.Coupons.Count() > 0)
                {
                    foreach (ICoupon coupon in Model.Cart.Coupons)
                    {
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-2 Product-img">
                                        <img src="https://ps.w.org/wp-coupons-and-deals/assets/icon-256x256.png?rev=1974447" alt="discount" class="img-responsive" />
                                    </div>
                                    <div class="col-lg-10">
                                        <h4 class="nomargin">Savings</h4>
                                        <p>
                                            @coupon.Code
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td colspan="3" class="text-right"> @String.Format("{0:P0}", coupon.DiscountPercent) </td>
                            <td class="actions" data-th="" style="width:10%;">
                                <form asp-page="RemoveCouponCode" method="post">
                                    <button class="btn btn-danger btn-sm" name="couponCode" value="@coupon.Code"><i class="fa fa-trash-o"></i></button>
                                    @Html.AntiForgeryToken()
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="hidden-xs text-right" style="width:10%;">
                        <form asp-page="AddCouponCode" method="post">
                            <strong>Coupon Code : </strong>
                            <input type="text" name="couponCode" />
                            <button class="btn-primary">Apply</button>
                            @Html.AntiForgeryToken()
                        </form>
                        Hint: use ORANGEUGR8
                    </td>
                </tr>
                @if (Model.CouponError != null)
                {
                    <tr>
                        <td colspan="5" class="hidden-xs text-right" style="width:10%;">
                            <div class="alert alert-warning" role="alert">
                                @Model.CouponError
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="5" class="hidden-xs text-right" style="width:10%;"><strong>Subtotal : @String.Format("{0:C2}", Model.Cart.GetSubtotal()) </strong></td>
                </tr>
                <tr>
                    <td colspan="5" class="hidden-xs text-right" style="width:10%;"><strong>Discounts : @String.Format("{0:C2}", Model.Cart.GetDiscountTotal()) </strong></td>
                </tr>
                <tr>
                    <td colspan="2"><a class="btn btn-warning text-white" asp-area="" asp-page="/Shop/Index"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="3" class="hidden-xs text-right" style="width:10%;"><strong>Total : @String.Format("{0:C2}", Model.Cart.GetTotal()) </strong></td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <div>No items here.</div>
    }
</div>

@section Scripts {
    <script src="~/lib/debounce/debounce.js"></script>
    <script language="Javascript">
        $('.product-quantity').change($.debounce(500, e => {
            $(e.target).closest("form").submit();
        }));
    </script>
    <script>
        $("form").submit(() => {
            $(".loading").show();
        })

    </script>
}
